@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #333;
}

.container{
    width: min(90%, 1520px);
    margin-inline: auto;
    
}
header {
    background-color:#00ff88;
    height: 4.5rem;
}
.desktop-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px;
    
   
    
}
.menus-link{
    display: flex;
    gap: 20px;
    display: flex;

}
.menus-link li{
    list-style: none;

}
.menus-link a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: #333;
}

.menus-link a:hover{
   background-color:#00ff88;
   color:  white;
}
.logo a{
    text-decoration: none;
    display: flex;
    align-items: center;
    
}

.logo .logo-pic{
    width: 60px;
    height: 60px;
    
}

.logo p{
    position: absolute;
   left: 8.5%;
    font-size: 2.25rem;
    font-weight: 700;
    color: #333;
}

.logo :hover{
    color: white;
}

.humburger{
    display: none;
}
.mobile-menu{
    display:none ;
}

.btns{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    background-color: #00ff88;
    color: #333;
    font-size: 1.25rem;
   border-radius: 50px;
    cursor: pointer;
   
    &:hover{
        background-color: white;
        color: #333;
       
    }

}

.hero{
    height:calc(100vh - 4.5rem) ;
    background: linear-gradient(rgba(35, 36, 35, 0.1), rgb(14, 14, 14)), url('https://cdn.zeebiz.com/sites/default/files/styles/zeebiz_850x478/public/2021/06/17/151953-crypto-pixa.jpg?itok=I-MXQxfR') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.hero h1{
    font-size: 4rem;
    font-weight: 500;
    color: white;
}

.hero p{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
}
.hero .hero-btns{
    background-color: #02fe88;
    color: #333;
    font-size: 1.25rem;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover{
        background-color: white;
        color: #333;
    }
}

 .container h1{
    display: flex;
    justify-content: center;
    color:white;
    background-color: #00ff88;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 20px;
  

    &:hover{
        background-color: white;
        color: #333;
    }
}
#cryptoTable{
   margin: 20px 0;
   width: 100%;
   border-collapse: collapse;
   box-shadow: 0 4px 12px rgba(193, 16, 16, 0.2);
}
#cryptoTable th, #cryptoTable td{
   padding: 15px;
   border: 1px solid #00ff88 ;
   color: white;
}
#cryptoTable th{
   background-color: #00ff88;
   color: #000;
}
#cryptoTable th:hover{
   background-color: rgba(0,255,136,0.1);
}
select{
    margin-left: 10px;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}
label{
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
}

#cryptoTable-2{
   margin: 20px 0;
   width: 100%;
   border-collapse: collapse;
   box-shadow: 0 4px 12px rgba(193, 16, 16, 0.2);
}
#cryptoTable-2 th, #cryptoTable-2 td{
   padding: 15px;
   border: 1px solid #00ff88 ;
   color: white;
}
#cryptoTable-2 th{
   background-color: #00ff88;
   color: #000;
}
#cryptoTable-2 th:hover{
   background-color: rgba(0,255,136,0.1);
}

.faq{
    padding: 40px 20px;
}
.faq-title{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
}
.accordion{
    min-width: 600px;
    margin: 0 auto;
    text-align: left;
}
.accordion-item{
    background-color: #00ff88;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.accordion-item h3{
    margin: 0;
    font-size: 1.5rem;
}
.accordion-content{
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}
footer{
    background-color: #00ff88;
    padding: 20px;
    text-align: center;
    color: #333;
}
.footer .up{
    display: flex;
    justify-content: space-evenly;
    

}
.footer .up li{
    list-style: none;
}

.footer .up i{
    margin-right: 10px;
    transition: color 0.3s ease;
    &:hover{
        color: white;
        cursor: pointer;
        transition: transform 0.3s ease;
       

    }
}






/* Tablet and Mobile phones */
@media(max-width: 768px){
    .desktop-menu{
        display: none;
    }
    header{
        height: 0;
    }
    i {
        z-index: 11111;
    }

    .humburger{
        display:flex;
        justify-content: center;
       position: absolute;
       background-color: #00ff88;
       color: #333;
       padding: 15px;
       width: 50px;
       height: 50px;
       top: 10%;
       right: 5%;
       border-radius: 50%;
       font-size: 2rem;
    
       }

       .mobile-menu{
        background-color: #00ff88;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: fixed;
        inset: 0 0 0 0;
        transform: translateX(0%);
        
       }
       .mobile-menu[data-visible="false"]{
        transform: translateX(100%);
        transition: transform 1s ease-in-out;
       }
    
       .humburger i[data-visible="true"]{
        display: block;
    
       }
    
       .humburger i[data-visible="false"]{
        display: none;
    
       }
       .mobile-menu .navigation{
        
        display: flex;
        align-items: center;
        flex-direction: column;
        
        
       }
    
       .mobile-menu .navigation .menus-link{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
       }
    
       .btns{
        width: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
       }
    
       .logo{
       position: absolute;
       top: 15%;
       
      
        
       }
       .logo p{
        position: absolute;
       left: 77.5%;
        font-size: 2.2rem;
        font-weight: 700;
        color: #333;
    }

    .accordion{
        min-width: 100%;
        margin: 0 auto;
        text-align: left;
    }
    
    .accordion-item{
        background-color: #00ff88;
        padding: 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .accordion-item h3{
        margin: 0;
        font-size: 1.5rem;
    }
    
    .accordion-content{
        margin-top: 10px;
        font-size: 1rem;
        color: black;
    }
    

}

